.booking-management-section {
    padding: 2rem;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  mat-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-right: 1rem;
  }
  
  .mat-form-field {
    width: 100%;
  }
  