<div class="benefits-container">
    <!-- Form for Adding/Updating Benefits -->
    <mat-card class="benefit-form-card">
      <mat-card-title>{{
        editingIndex !== null ? 'Update Benefit' : 'Add Benefit'
      }}</mat-card-title>
      <form [formGroup]="benefitForm" (ngSubmit)="addOrUpdateBenefit()">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Enter title" />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Enter description"
          ></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">
          {{ editingIndex !== null ? 'Update' : 'Add' }}
        </button>
        <button mat-button type="button" (click)="resetForm()">Cancel</button>
      </form>
    </mat-card>
  
    <!-- Table to Display Benefits -->
    <mat-card class="benefit-table-card">
      <mat-card-title>Benefits</mat-card-title>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
        </ng-container>
  
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="primary" (click)="editBenefit(i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteBenefit(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['title', 'description', 'actions']"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['title', 'description', 'actions']"
        ></tr>
      </table>
    </mat-card>
  </div>
  